/*------------------------------------------------------------
for develop
------------------------------------------------------------*/
#__bs_notify__{
	opacity: 0.3 !important;
	font-size: 5px !important;
	line-height: 100% !important;
	padding: 0 5px 0 5px !important;
	-webkit-border-radius: 0 !important;
	        border-radius: 0 !important;
}
