// Common Colors
$blue: #1b6d9f;
$yellow: #f2dd36;
$grey: #dcdddd;
$white: #ffffff;
$black: #000000;
$textColor: #231815;
$bgHeader: #efefef;
$bg-2: #f2f2f4;

//Variable mixin breakpoint 
$baseWidth: 1200px;

//Variable mixin breakpoint 
$b_point1: 999px;
$b_point2: 699px;
$b_point3: 499px;

//Variable Border Width and Color
$borderWidth: 1px;
$borderColor: #cccccc;


