{{#extend "default"}}
  {{#content "main"}}
	<!--************************ Main Page Start ************************-->
<main class="p-index ">
  <!--Slider Page Index-->
  <div class="box">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, ullam?</p>
  </div>
  <!--Slider Page Index-->
  <!--Content Page Index 1-->
  
  <!--Content Page Index 1-->
  <!--Content Page Index 2-->
  
  <!--Content Page Index 2-->
  <!--Content Page Index 3-->
  
  <!--Content Page Index 3-->
  <!--Content Page Index 4-->
 
  <!--Content Page Index 4-->
</main>
    <!--************************ Main Page End **************************-->
  {{/content}}
{{/extend}}
