/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.box {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 300px;
    background-color: red;
}
